<h1>Home</h1>
<% if user_signed_in? %>
<span>Hello, <%= current_user.email %></span>
<% else %>
<span> Please log in to add posts or comments</span>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>